.timeline-buttons-desktop{
  display: flex;
  width: 100%;
  column-gap: 0.5em;
}

#topic-progress-wrapper > span {
    display: flex;
}

.mobile-scroll-buttons{
  display: flex;
  height: 100%;
}

.discourse-mobile-scroll-up-button{
  height: 100%;
}

.discourse-mobile-scroll-down-button{
  height: 100%;
}

