#timeline-buttons-desktop{
  display: flex;
  width: 100%;
  column-gap: 0.5em;
}

#mobile-jump-buttons{
  display: flex;
  height: 100%;
}

#topic-progress-wrapper > span {
    display: flex;
}

.mobile-jump-up-button{
  height: 100%;
}

.mobile-jump-down-button{
  height: 100%;
}

